h1 {

  text-align: center;

}

#playlist {

  max-width: 300px;

  margin: 20px auto;

}

#song-list li {

  cursor: pointer;

  margin-bottom: 5px;

}

#song-list li:hover {

  color: blue;

}

#audio-player {

  margin: 20px auto;

  display: block;

}
